@use "../../sass/variables";

.langmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -300;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.langmodal__animated {
  z-index: 300;
  opacity: 1;
}

.langmodal__content {
  width: 300px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.11);
  position: absolute;
  border-radius: 10px;
  z-index: -400;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  .langmodal__content__name {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 26px;
      margin-bottom: 16px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }

    h3 {
      text-align: center;
      width: 80%;
      line-height: 26px;
      margin-bottom: 16px;
    }

    button {
      font-size: 22px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      border: none;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        margin-right: 10px;
      }

      h3 {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.langmodal__content__animated {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 400;
}
