@use "../../sass/variables";

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: downToTop 1s ease-in-out;

  h1 {
    text-transform: uppercase;
    color: variables.$secondary-text;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
  }

  table {
    color: variables.$secondary-text;
    border-spacing: 0;
    font-weight: 700;

    th {
      border-bottom: 2px solid variables.$secondary-text;
    }

    th,
    td {
      padding: 10px 16px;
    }

    #tdblack {
      color: black;
    }
  }
}
