@use "./sass/variables";

.app {
  background-color: variables.$background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intl-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  img {
    width: 20px;
  }
}
